@import '../../index.scss';

main {
    margin-top: 20vh;
    padding-bottom: 10em;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .project-details {

            .project-title {
                font-size: clamp(2.4em, 4vw, 4.4em);
                font-weight: 500;
                font-family: $font-heading;
                margin-bottom: 1.5em;
            }

            .project-image {
                width: 100%;
                height: auto;

                .featured {
                    width: 100%;
                    height: auto;
                    max-height: 70vh;
                    object-fit: cover;
                    border-radius: 1em;
                }
            }

            .header-section {
                padding: 5em 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .project-overview {
                    flex: 3;

                    .element-title {
                        font-size: clamp(2em, 3vw, 3.2em);
                        font-weight: 500;
                        margin-bottom: 20px;
                    }

                    .element-desc {
                        font-size: clamp(1.4em, 2vw, 1.6em);
                    }
                }

                .other-details {
                    padding-left: 5em;
                    flex: 1;

                    .element {
                        margin-bottom: 2em;

                        .details-title {
                            font-size: clamp(1.4em, 2vw, 1.6em);
                            font-weight: 600;
                            text-transform: uppercase;
                            color: $secondary-gray;
                        }

                        .details-content {
                            padding-bottom: 8px;

                            .details-item {
                                font-size: clamp(1.6em, 2vw, 1.8em);
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

    }
}