@import '../../index.scss';

.contact {
    margin-top: 10em;
    margin-bottom: 10em;
    
    .section-content {
        padding-top: 5em;

        .section-description {
            font-size: clamp(1.6em, 2vw, 2em);
            padding-bottom: 50px;
            width: min(50vw, 100%);
        }

        .button {
            // float: right;
        }
    }
}

@media (max-width: 480px) {

}