@import '../../index.scss';

.contact {
    
    .section-content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 5em 0;

        .section-description {
            font-size: clamp(1.8em, 6vw, 2em);
            grid-column-start: 1;
        }
    }
}